@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');  

    body {
        margin: 0px;
        background-image: url('img/bg.jpg');
        background-size: cover;
        font-family: 'Press Start 2P', cursive;
    }
    .machine {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100vh;
        background-image: url('img/game.png');
        background-repeat: no-repeat;
        background-size: 70% 100%;
        background-position: center center;
    }
    .gameWindow {
        border: 0px solid;
        display: none;
        height: 45%;
        background-image: url('img/gbg.jpg');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: black;
        margin-left: -1.8%;
        width: 34%;
        border-radius: 10px;
        position: fixed; /* or absolute */
        top: 25%;
        left: 35%;
        font-family: 'Press Start 2P', cursive;
    }
    .paddle {
        height: 5%;
        width: 23%;;
        border-radius: 5px;
        background-image: url('img/paddle.png');
        background-size: 100%;
        padding: 0px;
    }
    .pblockl {
        height: 100%;
     
        width: 20%;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
    }
    .pblocklm {
        height: 100%;
     
        width: 20%;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 20%;
        display: inline-block;
        margin: 0px;
    }
    .pblockc {
        height: 100%;
        
        width: 20%;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 40%;
        display: inline-block;
        margin: 0px;
    }
    .pblockrm {
        height: 100%;
        width: 20%;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 60%;
        display: inline-block;
        margin: 0px;
    }
    .pblockr {
        height: 100%;
        width: 20%;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 80%;
        display: inline-block;
        margin: 0px;
    }
    .ball {
        background-color: transparent;
        background-image: url('img/ball.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        animation: rotate 0.5s infinite linear;
        position: absolute;
        border: 1px solid;
        height: 6%;
        width: 5%;
        border-radius: 50%;
    }
    .brickHolder {
        width: 100%;
        height: 30%;
        position: absolute;
        top: 10%;
        left: 0px;
    }
    .brick {
        height: 20%;
        width: 9%;
        padding: 0px;
        margin-right: 1%;
        margin-left: auto;
       
    }
    .brickWrapper {
        border: 0px;
        padding: 0px;
        
    }
    .brickWrapper td {
        border: 0px;
        padding: 0px;
    }
    .gText {
        font-size: 5vh;
        color: grey;
        width: 30%;
        background-color: transparent;
        text-align: center;
        border: 0px;
        font-family: 'Press Start 2P', cursive;

    }
    .info {
        position: absolute;
        top: 0;
        right: 0;
        height: 2%;
        width: 14%;
        font-family: 'Press Start 2P', cursive;
        padding: 2%;
        font-size: 0.5vw;
        color: white;
    }
    .info2 {
        position: absolute;
        top: 0;
        left: 0%;
        height: 2%;
        width: 14%;
        font-family: 'Press Start 2P', cursive;
        padding: 2%;
        font-size: 0.5vw;
        color: white;
    }
    .info3 {
        position: absolute;
        top: 0;
        left: 29%;
        border: 0px;
        text-align: center;
        height: 2%;
        width: 40%;
        font-family: 'Press Start 2P', cursive;
        padding: 2%;
        font-size: 0.5vw;
        color: white;
    }
    .gButton {
        color: purple;
        background-color: transparent;
        border: 1px solid purple;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 2vh;
        font-size: 2vh;
        font-family: 'Press Start 2P', cursive;
    }
    .gButton:hover {
        color: black;
        background-color: purple;
        border: 1px solid purple;;
    }
    .start {
        outline-color: black;
        font-family: 'Press Start 2P', cursive;
        border: 0px solid;
        height: 45%;
        overflow:hidden;
        text-align: center;
        display: block;
        background-color: rgb(26, 26, 26);
        margin-left: -1.8%;
        width: 34%;
        border-radius: 10px;
        font-size: 2vh;
        position: fixed; /* or absolute */
        top: 25%;
        left: 35%;
        color: white;
    }